<div class="row">
	<div class="jumbotron center">
		<h2><%= @tracks[0].name %> by <%= @tracks[0].artists.first.name %> has been added to the playlist!</h2>
		<h3> Search Again? <%= link_to "Click Here", search_path %></h3>
	</div>
</div>