<div class="row">
	<div class="col-md-6 center">
		<h2> Is this the right song? </h2>
		<h1> <%= @tracks[0].name %> by <%= @tracks[0].artists.first.name %> </h1>
		<h2> Playlist ID: <%= @playlist%>  </h2>


	</div>
</div>