<div class="row">
	<div class="jumbotron center ">
		<h1>That's it!</h1>
		<h2>Your Room Code is...</h2>
		<h1> <%= @user.room_code %> </h1>
		<h3>Share this code with your attendees</h3>
		<p>NOTE: DO NOT DELETE "OUNDEA" PLAYLIST</p>
	</div>
</div>